.footerMain{
    overflow-x: hidden;
    margin: 10vh 0 0;
}
.container{
    height: auto;
    margin: -3vh;
    background: black;
}
.form-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    background: black;
    padding: 4% 2% 4% 2% ;
    height: 100%;
}

.form__heading{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 28px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    width: auto;
    margin: 2vh 1vh;
    color: white;
}
.footer__name{
    width: 48%;
    margin-left: 2%;
    margin-bottom: 5%;
    border: solid var(--gray-light) 1px;
    border-radius: 5px;
    padding: 1vh ;
    font-family: "Roboto";
}
.form__phone{
    width:46%;
    margin-left: 2%;
    border: solid var(--gray-light) 1px;
    border-radius: 5px;
    padding: 1vh;
    font-family: "Roboto";
}
.form__email{
    width: 97%;
    margin-left: 2%;
    border: solid var(--gray-light) 1px;
    border-radius: 5px;
    padding: 1vh;
    font-family: "Roboto";
}
.form__message{
    width: 97%;
    margin-left: 2%;
    margin: 5% 2%;
    border: solid var(--gray-light) 1px;
    border-radius: 5px;
    padding: 1vh;
    font-family: "Roboto";
}
.form__button{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    padding: 1vh;
    width: 30%;
    font-size: 1.5rem;
    line-height: 28px;
    color: #FFFFFF;
    background: #FF8A00;
    border-radius: 10px;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.icon-container{
    width: 40%;
    display: flex;
    margin-bottom: 8%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    background-color: black;
}
.icon__heading{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    text-align: left;
    margin: 5%;
    width: 50%;
    color: #FFFFFF;
}
.icon{
    width: auto;
    height: 4vh;
}
.iconD{
    width: auto;
    height: 4vh;
}
.icon__style{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 0.3% 3%;
    width: 50%;
}
.icons__style{
    display: flex;
    width: 100%;
    margin: 3% 0%;
    flex-direction: row;
    justify-content: center;
}
.icon__link{
    margin:3% 10% 2% 0%;
}
.icon__text{
    font-family: Roboto;
    font-style: normal;
    font-size: 1.3rem;
    line-height: 26px;
    margin: 1% 6%;
    color: #FFFFFF;
}
.terms-container{
    display: flex;
    margin-top: 0;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.section{
    font-family: Roboto;
    font-weight: 200;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin-right: 2%;
    color: #FFFFFF;
}
.terms__part1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: start;
    width: 100%;
}
.terms__part2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin: 2% 7% 4% 7%;
}
@media screen and (max-width:768px) {
    .footerMain{
        overflow: hidden;
        margin: 8vh 0 0;
        }
    
    .form-container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 45%;
        padding: 6% 1% 4% 4% ;
        height: 100%;
    }
    .form__heading{
        margin-top: 10%;
        font-size: 1.3rem;
    }
    .icon-container{
        width: 42%;
        display: flex;
        margin: 2% 3% 8% 0%;
    }
    .icon__heading{
        font-family: Roboto;
        font-style: normal;
        font-size: 1.5rem;
        line-height: 30px;
        text-align: left;
        margin: 0% 5% 5% 5%;
        width: 50%;
        color: #FFFFFF;
    }
    .icon{
        width: auto;
        height: 3vh;
    }
    .iconD{
        width: auto;
        height: 3vh;
    }
    .icon__style{
        display: flex;
        flex-direction: row;
        justify-content: start;
        margin: 0.3% 3%;
        width: 70%;
    }
    .form__button{
        font-size: 1.3rem;
        margin-bottom: 5%;
        line-height: 20px;
    }
}
@media screen and (max-width:426px) {
    .footerMain{
    overflow: hidden;
    margin: 8vh 0 -1vh 0;
    }
        .container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .form__heading{
            font-size: 1.2rem;
            height: auto;
        }
        .form__button{
            font-size: 1.3rem;
            width: 50%;
        }
        .form-container{
            width: 70%;
        }
        .icon-container{
            width: 100%;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        .icon__heading{
            text-align: center;
        }
        .terms-container{
            width: 90%;
            height: auto;
        }
        .section{
            font-size: 0.7rem;
            margin-right: 2%;
        }
        .terms__part2{
            font-size: 0.7rem;
            margin-bottom: 10%;
        }
        .icon{
            width: auto;
            height: 3vh;
        }
        .iconD{
            width: auto;
            height: 3vh;
        }
        .icon__text{
            font-size: 1rem;
            line-height: 20px;
            margin: 0.8% 6%;
        }
        .icons__style{
            margin: 1%  0%;
        }
}