.footerMain {
  overflow: hidden;
  /* margin: 10vh 0 0; */
}
.row-container {
  height: auto;
  margin: -3vh;
  background: black;
  overflow: hidden;
}
.form-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
  background: black;
  padding: 4% 2% 4% 2%;
  height: 100%;
}

.form__heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  width: auto;
  margin: 2vh 1vh;
  color: white;
}
.footer__name {
  width: 48%;
  margin-left: 2%;
  margin-bottom: 5%;
  border: solid var(--gray-light) 1px;
  border-radius: 5px;
  padding: 1vh;
  font-family: "Roboto";
}
.form__phone {
  width: 46%;
  margin-left: 2%;
  border: solid var(--gray-light) 1px;
  border-radius: 5px;
  padding: 1vh;
  font-family: "Roboto";
}
.form__email {
  width: 97%;
  margin-left: 2%;
  border: solid var(--gray-light) 1px;
  border-radius: 5px;
  padding: 1vh;
  font-family: "Roboto";
}
.form__message {
  width: 97%;
  margin-left: 2%;
  margin: 5% 2%;
  border: solid var(--gray-light) 1px;
  border-radius: 5px;
  padding: 1vh;
  font-family: "Roboto";
}
.form__button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  padding: 1vh;
  width: 30%;
  font-size: 1.5rem;
  line-height: 28px;
  color: #ffffff;
  background: #ff8a00;
  border-radius: 10px;
}
.row-container {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.icon-container {
  width: 40%;
  display: flex;
  margin-bottom: 8%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  background-color: black;
}
.icon__heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
  text-align: left;
  margin: 5%;
  width: 50%;
  color: #ffffff;
}
.icon {
  width: auto;
  height: 5vh;
}
.iconD {
  width: auto;
  height: 5vh;
}
.icon__style {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin: 0.3% 3%;
  width: 50%;
}
.icons__style {
  display: flex;
  width: 100%;
  margin: 3% 0%;
  flex-direction: row;
  justify-content: center;
}
.icon__link {
  margin: 3% 10% 2% 0%;
}
.icon__text {
  font-family: Roboto;
  font-style: normal;
  font-size: 1.3rem;
  line-height: 26px;
  margin: 1% 6%;
  color: #ffffff;
}
.icon__link {
  text-decoration: none;
  color: var(--white);
}
.terms-container {
  display: flex;
  margin-top: 0;
  margin: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.section {
  font-family: Roboto;
  font-weight: 200;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin-right: 2%;
  color: #ffffff;
}
.terms__part1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: start;
  width: 100%;
}
.terms__part2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  font-family: Roboto;
  margin: 2% 7% 4% 7%;
  font-size: 1rem;
}
.terms__link {
  text-decoration: none;
  color: var(--white);
}
@media screen and (max-width: 426px) and (min-width: 300px) {
  .footerMain {
    overflow: hidden;
  }
  .row-container {
    overflow: hidden;
  }
  .row-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .form__heading {
    font-size: 1.2rem;
    height: auto;
  }
  .form__button {
    font-size: 1.3rem;
    width: 50%;
  }
  .form-container {
    width: 70%;
  }
  .icon-container {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .icon__heading {
    text-align: center;
  }
  .terms-container {
    width: 90%;
    height: auto;
  }
  .section {
    font-size: 0.7rem;
    margin-right: 2%;
  }
  .terms__part2 {
    font-size: 0.7rem;
    margin-bottom: 10%;
  }
  .icon {
    width: auto;
    height: 2vh;
  }
  .iconD {
    width: auto;
    height: 3vh;
  }
  .icon__text {
    font-size: 1rem;
    line-height: 20px;
    margin: 0.8% 6%;
  }
  .icon__style {
    width: 50%;
  }
  .icons__style {
    margin: 1% 0%;
  }
}

@media screen and (max-width: 650px) and (min-width: 426px) {
  .row-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .form__button {
    font-size: 1.3rem;
    width: 50%;
  }
  .icon-container {
    width: 100%;
  }
  .terms-container {
    width: 90%;
    height: auto;
  }
  .section {
    font-size: 0.9rem;
    margin-right: 2%;
  }
  .terms__part2 {
    font-size: 1rem;
    margin-bottom: 10%;
  }
  .icon {
    width: auto;
    height: 2vh;
  }
  .iconD {
    width: auto;
    height: 3vh;
  }
  .icon__text {
    font-size: 1rem;
    line-height: 20px;
    margin: 0.8% 6%;
  }
  .icon__style {
    /* margin: 10% auto; */
    width: 50%;
  }
  .icons__style {
    margin: 2% 0%;
  }
}

@media screen and (max-width: 768px) and (min-width: 650px) {
  .signup {
    width: 50vw;
  }
  .row-container {
    overflow: hidden;
  }
  .icon-container {
    width: 100%;
  }
  .form__button {
    font-size: 1.3rem;
    width: 50%;
  }
  .row-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .icon__style {
    /* margin: 10% auto; */
    width: 50%;
  }
}

@media screen and (max-width: 900px) and (min-width: 768px) {
  .footerMain {
    overflow: hidden;
  }
  .row-container {
    overflow: hidden;
  }
  .row-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .form__heading {
    font-size: 1.2rem;
    height: auto;
  }
  .form__button {
    font-size: 1.3rem;
    width: 50%;
  }
  .form-container {
    width: 60%;
    margin: auto 5%;
  }
  .icon-container {
    width: 60%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .icon__heading {
    text-align: center;
  }
  .terms-container {
    width: 95%;
    height: auto;
  }
  .section {
    font-size: 1rem;
    margin-right: 2%;
  }
  .terms__part2 {
    font-size: 1rem;
    margin-bottom: 10%;
  }
  .icon {
    width: auto;
    height: 3vh;
  }
  .iconD {
    width: auto;
    height: 4vh;
  }
  .icon__text {
    font-size: 1.4rem;
    line-height: 20px;
    margin: 3% 6%;
  }
  .icon__style {
    margin: 1% auto;
    width: 50%;
  }
  .icons__style {
    margin: 2% 0%;
  }
}

@media screen and (max-width: 1200px) and (min-width: 900px) {
  .terms-container {
    width: 95%;
    height: auto;
  }
  .footer__name,
  .form__email,
  .form__message,
  .form__phone {
    font-size: 1.2rem;
  }
  .section {
    font-size: 1rem;
    margin-right: 2%;
  }
  .terms__part2 {
    font-size: 1rem;
    margin-bottom: 6%;
  }
  .icon {
    width: auto;
    height: 2vh;
  }
  .iconD {
    width: auto;
    height: 3vh;
  }
  .icon-container {
    width: 40%;
    display: flex;
    margin-bottom: 8%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    background-color: black;
  }
}
@media screen and (max-width: 1400px) and (min-width: 1200px) {
  .terms-container {
    width: 100%;
    height: auto;
  }
  .footer__name,
  .form__email,
  .form__message,
  .form__phone {
    font-size: 1.2rem;
  }
  .section {
    font-size: 1.3rem;
    margin-right: 2%;
  }
  .icon__text {
    font-size: 1.5rem;
  }
  .terms__part2 {
    font-size: 1rem;
    margin-bottom: 4%;
  }
  .icon {
    width: auto;
    height: 3vh;
  }
  .iconD {
    width: auto;
    height: 4vh;
  }
}

@media screen and (max-width: 2000px) and (min-width: 1400px) {
  .terms-container {
    margin: 0;
  }
  .footer__name,
  .form__email,
  .form__message,
  .form__phone {
    font-size: 1.2rem;
  }
  .section {
    font-size: 1.3rem;
    margin-right: 2%;
  }
  .icon__text {
    font-size: 1.5rem;
  }
  .terms__part2 {
    font-size: 1rem;
    margin-bottom: 4%;
  }
  .icon {
    width: auto;
    height: 4vh;
  }
  .iconD {
    width: auto;
    height: 5vh;
  }
}

@media screen and (max-width: 4000px) and (min-width: 2000px) {
  .terms-container {
    width: 100%;
    height: auto;
  }
  .footer__name,
  .form__email,
  .form__message,
  .form__phone {
    font-size: 1.2rem;
  }
  .section {
    font-size: 1.3rem;
    margin-right: 2%;
  }
  .icon__text {
    font-size: 1.5rem;
  }
  .terms__part2 {
    font-size: 1.4rem;
    margin-bottom: 6%;
  }
}
@media screen and (max-device-width: 768px) {
  .footerMain {
    overflow: hidden;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 75%;
    padding: 6% 1% 4% 4%;
    height: 100%;
  }
  .form__heading {
    margin-top: 10%;
    font-size: 1.3rem;
  }
  .icon-container {
    width: 50%;
    display: flex;
    margin: 2% 3% 8% 0%;
  }
  .icon__heading {
    font-family: Roboto;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 30px;
    text-align: center;
    margin: 0% 5% 5% 5%;
    width: 100%;
    color: #ffffff;
  }
  .icon {
    width: auto;
    height: 3vh;
  }
  .iconD {
    width: auto;
    height: 3vh;
  }
  .icon__text {
    font-size: 1.2rem;
  }
  .icon__style {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 0.3% 3%;
    width: 60%;
  }
  .form__button {
    font-size: 1.3rem;
    margin-bottom: 5%;
    line-height: 20px;
    width: 50%;
  }
}
@media screen and (max-device-width: 426px) {
  .footerMain {
    overflow: hidden;
  }
  .row-container {
    overflow: hidden;
  }
  .row-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .form__heading {
    font-size: 1.2rem;
    height: auto;
  }
  .form__button {
    font-size: 1.3rem;
    width: 50%;
  }
  .form-container {
    width: 70%;
  }
  .icon-container {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .icon__heading {
    text-align: center;
  }
  .terms-container {
    width: 90%;
    height: auto;
  }
  .section {
    font-size: 0.65rem;
    margin-right: 2%;
  }
  .terms__part2 {
    font-size: 0.7rem;
    margin-bottom: 10%;
  }
  .icon {
    width: auto;
    height: 2.5vh;
  }
  .iconD {
    width: auto;
    height: 3vh;
  }
  .icon__text {
    font-size: 0.8rem;
    line-height: 20px;
    margin: 1% 6%;
  }
  .icon__style {
    width: 50%;
  }
  .icons__style {
    margin: 1% 0%;
  }
}
