.header__section{
    display: grid;
    grid-template-columns: 20% 60% 10%;
    /* background-color: var(--gray-light); */
}

.header__hamburger{
    display: none;
}

.header__bar{
    background-color: black;
}

.header__brand{
    padding: 2vh;
}

.header__brandLogo{
    cursor: pointer;
width: 100%; 
}

.header__navigate{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: Roboto;
    color: var(--gray);
    font-size: 1rem;
}

.header__link{
    text-decoration: none;
    color: var(--gray);
}

.header__Login{
    background-color: var(--red);
    align-self: center;
    justify-content: space-around;
    padding: 2%;
    text-align: center;
    border-radius: 10px;
    margin: 0 20%;
}

.header__LoginButton{
    color: var(--white);
    font-family: Roboto;
    font-size: 1rem;
}

.header__slider{
    display: none;
}


/* Slider Components */
.header__bar{
    background-color: var(--black);
    width: 80%;
    height: 1vh;
    margin: 1vh;
    border-radius: 2px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 0.6s;
    border-radius: 1vh;
}

.header__bar1{
    transform:rotate(405deg);
    transform-origin: 0%;
    height: 0.5vh;
}

.header__bar2{
    transform:scaleX(0);
}

.header__bar3{
    transform:rotate(-405deg);
    transform-origin: 0%;
    height: 0.5vh;
}

.header__hamburger{
    justify-content: space-around;
    align-self: center;
    background-color: var(--white);
    border: 0px;
    z-index: 20;
    transition: ease-in-out;
    transition-duration: 0.6s;
    transition-delay: 0.2ms;
    overflow: visible;
}

.header__slider{
    top: 0px;
    width: 100vw;
    background-color: var(--white);
    text-align: left;
    height: 100vh;
    color: var(--black);
    z-index: 12;
    transition: ease-in-out;
    transition-duration: 0.6s;
    padding: 10vh 2vh;
}

.header__sliderOption{
    align-items: stretch;
    justify-content: space-around;
}

.header__option{
    text-decoration: none;
    padding: 2vh 10vw;
    color: black;
    font-weight: 400;
    font-family: "Roboto";
}

.header__joinUs{
    background-color: var(--red);
    font-family: Roboto;
    border-radius: 10px;
    color: var(--white);
    margin: 2vh 1vw 1vh 1vw;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 1vh 0vw;
    }

/* Tab Screen */
@media screen and (max-device-width:768px){
    .header__section{
        grid-template-columns: 10% auto 26% ;
    }
    .header__hamburger{
        display: block;
        position: relative;
        left: 0vw;
    }
    .header__bar1, .header__bar2{
        transform-origin: 12%;
    }
    .header__navigate{
        display: none;
    }
    .header__hamburgerActive{
        position: fixed;
        left: 80vw;
        width: 12vw;
        top: 2vh;
    }
    .header__brandLogo{
        width: 60%;
    }
    .header__slider{
        display: block;
        position: fixed;
        left: -120%;
    }

    .header__sliderToggle{
        left: 0%;
    }

    .header__joinUs{
        font-size: 1.6rem;
    }

    .header__option{
        text-decoration: none;
        font-size: 1.6rem;
    }
}

/* Mobile device Large Screen */
@media screen and (max-device-width: 426px) {
    .header__section{
        grid-template-columns: 12% 66% 20%;
        height: 12vh;
    }
    .header__hamburger{
        display: block;
        position: relative;
        left: 0vw;
    }

    .header__hamburgerActive{
        position: fixed;
        left: 80vw;
        width: 10vw;
    }  

    .header__brand{
        display: flex;
        align-items: center;
    }
    
    .header__brandLogo{
        width: 56%;
        align-self: center;
        justify-content: space-around;
    }

    .header__navigate{
        display: none;
    }

    .header__link{
        text-decoration: none;
    }

    .header__Login{
        margin: 0;
        background-color: var(--white);
        border: solid var(--gray) 1px;
    }

    .header__LoginButton{
        padding: 0 1vh;
        color: var(--gray);
    }

    .header__slider{
        display: block;
        position: fixed;
        left: -120%;
    }

    .header__sliderToggle{
        left: 0%;
    }

    .header__joinUs{
        font-size: 1.2rem;
    }

}

@media screen and (max-width: 680px) and (min-width: 500px){
    .header__section{
        grid-template-columns: 10% 62% 28%;
        height: 12vh;
    }
    .header__hamburger{
        display: block;
        position: relative;
        left: 0vw;
    }

    .header__hamburgerActive{
        position: fixed;
        left: 80vw;
        width: 10vw;
    }  

    .header__brand{
        display: flex;
        align-items: center;
    }
    
    .header__brandLogo{
        width: 56%;
        align-self: center;
        justify-content: space-around;
    }

    .header__navigate{
        display: none;
    }

    .header__link{
        text-decoration: none;
    }

    .header__Login{
        margin: 0;
        background-color: var(--white);
        border: solid var(--gray) 1px;
    }

    .header__LoginButton{
        padding: 0 1vh;
        color: var(--gray);
    }

    .header__slider{
        display: block;
        position: fixed;
        left: -120%;
    }

    .header__sliderToggle{
        left: 0%;
    }

    .header__joinUs{
        font-size: 1.2rem;
    }

    .header__bar1, .header__bar2 {
        transform-origin: 20%;
    }
}

@media screen and (max-width: 500px) and (min-width: 426px){
    .header__section{
        grid-template-columns: 12% 66% 20%;
        height: 12vh;
    }
    .header__hamburger{
        display: block;
        position: relative;
        left: 0vw;
    }

    .header__hamburgerActive{
        position: fixed;
        left: 80vw;
        width: 10vw;
    }  

    .header__brand{
        display: flex;
        align-items: center;
    }
    
    .header__brandLogo{
        width: 56%;
        align-self: center;
        justify-content: space-around;
    }

    .header__navigate{
        display: none;
    }

    .header__link{
        text-decoration: none;
    }

    .header__Login{
        margin: 0;
        background-color: var(--white);
        border: solid var(--gray) 1px;
    }

    .header__LoginButton{
        padding: 0 1vh;
        color: var(--gray);
    }

    .header__slider{
        display: block;
        position: fixed;
        left: -120%;
    }

    .header__sliderToggle{
        left: 0%;
    }

    .header__joinUs{
        font-size: 1.2rem;
    }
}
@media screen and (max-width:426px){
    .header__section{
        grid-template-columns: 12% 66% 20%;
        height: 12vh;
    }
    .header__hamburger{
        display: block;
        position: relative;
        left: 0vw;
    }

    .header__hamburgerActive{
        position: fixed;
        left: 80vw;
        width: 12.3vw;
    }  

    .header__brand{
        display: flex;
        align-items: center;
    }
    
    .header__brandLogo{
        width: 56%;
        align-self: center;
        justify-content: space-around;
    }

    .header__navigate{
        display: none;
    }

    .header__link{
        text-decoration: none;
    }

    .header__Login{
        margin: 0;
        background-color: var(--white);
        border: solid var(--gray) 1px;
    }

    .header__LoginButton{
        padding: 0 1vh;
        color: var(--gray);
    }

    .header__slider{
        display: block;
        position: fixed;
        left: -120%;
    }

    .header__sliderToggle{
        left: 0%;
    }

    .header__joinUs{
        font-size: 1.2rem;
    }
}