.signIn{
    height: fit-content;
    width: 24vw;
    /* position: fixed; */
    /* z-index: 30; */
    background: var(--white);
    border-radius: 10px;
    padding: 2vh 0;
    border: solid var(--gray-light) 2px;
    margin: 10vw;
}

.signIn__title{
    color: var(--gray);
    font-family: "Roboto";
    font-size: 1.8rem;
    font-weight: 900;
    text-align: center;
    padding: 2vh 0;
}

.signIn__component{
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: 1vw auto;
    border: solid var(--gray-600) 1px;
    border-radius: 6px;
    font-family: "Roboto";
    padding: 1vh 0;
    font-weight: 700;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: var(--white);
    /* z-index: 21; */
}

.signIn__link{
    text-decoration: none;
}

.signIn__image{
    width: 1.5vw;
    margin-left: 1vw;
}

.signIn__logo{
    width: 100%;
}

#facebook{
    background: var(--blue);
    color: var(--white);
}

#google, #apple{
    color: var(--gray);
}

.signIn__platform{
    width: 100%;
    font-weight: 700;
    font-size: 1rem;
    display: flex;
    align-self: center;
    justify-content: center;
}

.signIn__alternative{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}

.signIn__bar{
    width: 42%;
    height: 2px;
    background-color: var(--gray-light);
    align-self: center;
}

.signIn__or{
    font-family: "Roboto";
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--gray-600);
}

.singIn__form{
    display: flex;
    flex-direction: column;
}

.signIn__email{
    width: 80%;
    margin: 2% 10%;
    border: solid var(--gray-light) 1px;
    border-radius: 2px;
    padding: 1vh 0;
    font-family: "Roboto";
}
.signIn__password{
    width: 80%;
    margin: auto 10%;
    border: solid var(--gray-light) 1px;
    border-radius: 2px;
    padding: 1vh 0;
    font-family: "Roboto";
}
.signIn__submit{
    width: 80%;
    background-color: var(--red);
    border: solid var(--red) 2px;
    border-radius: 6px;
    padding: 1vh 0;
    margin: 1vh 10%;
    color: var(--white);
    font-family: "Roboto";
    font-weight: 700;
    font-size: 1.2rem;
}

.signIn__message{
    color: var(--gray);
    text-align: center;
    font-weight: 700;
    font-size: 0.9rem;
    margin: 1vh auto;
    padding: 1vh 0;
    width: 80%;
}

.signIn__option{
    color: var(--gray);
    text-align: center;
    font-weight: 400;
    font-size: 0.8rem;
    margin: 2vh 0;
    font-family: "Roboto";
}

.signIn__span{
    color:var(--red);
    text-decoration: none;
}

.signIn__blur{
    height: 80vh;
    width: 100vw;
    background: linear-gradient(45deg, var(--red), var(--black));
    /* position: fixed; */
    /* z-index: 30; */
    display: flex;
    justify-content: right;
    align-items: center;
    top:0px;
}

.signIn__hide{
    display: none;
}

@media screen and (max-width:426px){
    .signIn{
        width: 90vw;
    }

    .signIn__component{
        padding: 0.6vh 1vw;
        margin: 1vh auto;
    }

    .signIn__image{
        width: 10vw;

    }

    /* .signIn__logo{
        /* padding:1vh 0; 
    } */

    .signIn__platform{
        text-align: center;
        text-align: center;
        font-size: 1.1rem;
    }

    .signIn__message{
        font-size: 0.8rem;
    }

}