.Stats{
    background-color: rgba(235, 106, 106, 23%);
}
.Stats__Container{
    display: inline-block;
    width: 33%;
    padding: 3rem 2rem;
}
.Stats__Container h1{
    font-family: Roboto;
    font-weight: bolder;
    font-size: 4rem;
    line-height: 4rem;
    text-align: center;
}
.Stats__Container p{
    font-family: Roboto;
    font-weight: bolder;
    font-size: 1rem;
    line-height: 1rem;
    text-align: center;
}

@media screen and (max-width: 768px){
    .Stats__Container h1{
        font-size: 3rem;
        line-height: 3rem;
    }
    .Stats__Container p{
        font-size: 1rem;
        line-height: 1rem;
    }
}
@media screen and (max-width: 630px){
    .Stats{
        padding: 0rem 1rem;
    }
    .Stats__Container{
        padding: 2rem 0rem;

    }
    .Stats__Container h1{
        font-size: 2rem;
        line-height: 2rem;
    }
    .Stats__Container p{
        font-size: 0.8rem;
        line-height: 1rem;

    }
}