.Listview__container {
  border: 1px solid #c4c4c4;
  display: none;
  width: 100%;
  float: right;
  margin: 2rem;
}
.Listview__head {
  border: 1px solid #c4c4c4;
  height: fit-content;
  overflow: hidden;
  background-color: white;
}
/*Icon Hover*/
.Listview__icon .black {
  width: 1.3rem;
  height: auto;
  float: right;
  margin: 1rem 1.5rem;
}
.Listview__icon .red {
  display: none;
}
.Listview__icon:hover .black {
  display: none;
}
.Listview__icon:hover .red {
  display: block;
  width: 1.3rem;
  height: auto;
  float: right;
  margin: 1rem 1.5rem;
}
.Listview__body {
  border: 1px solid #c4c4c4;
  background: linear-gradient(
    180deg,
    rgba(229, 229, 229, 0.5) 0%,
    #ffffff 100%
  );
  padding: 2%;
  height: auto;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

/*element*/
.Listview__element {
  width: 100%;
  background: linear-gradient(
    180deg,
    #c4c4c4 79.04%,
    rgba(196, 196, 196, 0) 100%
  );
  border: 2px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 6px;
  height: auto;
  overflow: hidden;
  margin: 2%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}
.Listview__picture {
  width: 19%;
  height: auto;
  float: left;
  margin: 1% 0.5%;
  margin-top: 0%;
  border-radius: 10px;
}

/*Progress bar*/
.Listview__progress {
  width: 67%;
  margin: 0.5%;
  height: 100%;
  float: left;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.Listview__progress h3 {
  width: 48%;
  margin: 1%;
  float: left;
  font-family: Roboto;
  font-size: 0.8rem;
}
.Listview__bar {
  height: 4px;
  background: rgba(235, 106, 106, 0.97);
  border-radius: 6px;
  width: 48%;
  float: left;
}
.Listview__bar img {
  height: 14px;
  float: left;
  margin-left: 45%;
  margin-top: -5px;
}
.Listview__continue {
  display: inline-block;
  width: 10%;
  background: rgba(235, 106, 106, 0.97);
  border-radius: 6px;
  color: white;
  border: none;
  font-family: Roboto;
  margin: 1%;
  font-size: 0.7rem;
  line-height: 1.2rem;
}
.Listview__arrow {
  display: none;
}

/*tablets*/
@media screen and (max-width: 968px) {
  .Listview__container {
    border: none;
    display: block;
    width: 100%;
    margin: 0;
  }
  .Listview__head {
    border: none;
  }
  /*Icon Hover*/
  .Listview__icon .black {
    margin: 0.5rem 1rem;
  }
  .Listview__icon:hover .red {
    margin: 0.5rem 1rem;
  }
  .Listview__body {
    border: 2px solid #c4c4c4;
    padding: 1.5rem;
  }

  /*element*/
  .Listview__element {
    margin: 1%;
  }
  /*Progress bar*/
  .Listview__progress h3 {
    font-size: 0.8rem;
  }
}

/*mobile*/
@media screen and (max-width: 768px) {
  .Listview__body {
    padding: 2%;
  }
  /*Icon Hover*/
  .Listview__icon .black {
    width: 0.9rem;
    margin: 0.3rem 0.7rem;
  }
  .Listview__icon:hover .red {
    width: 0.9rem;
    margin: 0.3rem 0.7rem;
  }

  /*element*/
  .Listview__picture {
    width: 18%;
  }
  .Listview__element {
    margin: 1%;
  }

  /*Progress bar*/
  .Listview__progress h3 {
    width: 100%;
    font-size: 0.8rem;
  }
  .Listview__bar {
    width: 90%;
    margin: 5%;
  }
  .Listview__continue {
    display: none;
  }
  .Listview__arrow {
    display: block;
    width: 10%;
  }
  .Listview__arrow img {
    width: 70%;
  }
}
@media screen and (max-width: 550px) {
  .Listview__progress h3 {
    font-size: 0.6rem;
  }
}
/*extra large*/
@media screen and (min-width: 1500px) {
  .Listview__body {
    padding: 3%;
  }
  /*Icon Hover*/
  .Listview__icon .black {
    width: 2.5rem;
    margin: 1.5rem 2rem;
  }
  .Listview__icon:hover .red {
    width: 2.5rem;
    margin: 1.5rem 2rem;
  }

  /*element*/
  .Listview__progress h3 {
    font-size: 1.3rem;
  }
  .Listview__continue {
    font-size: 1.3rem;
    line-height: 2.4rem;
  }
}
