.story__image{
        height: auto;
        background: url("../../image/OurStroy.jpg");
        margin-bottom: 5vh;
        width: 100%;
}
.story__container{
        padding:2vh 30vh;
        font-size: 1.5rem;
        font-family: CooperHewitt-Book;
        line-height: 150%;
}
p{
        margin-top: 3vh;
}