@import "./Subheader_Desktop.css";

@media screen and (max-width: 1024px) {
  @import "./Subheader_Desktop_1024.css";
}

@media screen and (max-width: 769px) {
  @import "./Subheader_Desktop_769.css";
}
@media only screen and (max-width: 426px) and (min-width: 300px) {
  .Poster {
    height: auto;
  }
  .Poster_img {
    display: none;
  }
  .subheader_nav {
    display: none;
    overflow: hidden;
  }
  .Poster_Search {
    height: 100%;
    margin-top: 0vh;
    display: flex;
    padding-left: 0;
    padding: 2vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    width: 99vw;
    background: linear-gradient(180deg, #6d6875 0%, rgba(83, 40, 40, 0) 100%);
  }
  .Search_heading {
    font-size: 2.5rem;
    line-height: 50px;
    height: auto;
    padding: 0;
    overflow-y: hidden;
    margin-bottom: 10vh;
  }
  .College {
    /* display: none; */
    height: auto;
    flex-direction: column;
  }
  .College_heading {
    width: 100%;
    height: 45px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    text-align: center;
  }
  .Search_section {
    flex-direction: column;
    width: 100%;
    height: fit-content;
  }
  .Search_left {
    /* border: 2px solid red; */
    width: 100%;
    height: 40px;
    margin-bottom: 2vh;
  }
  .Search_bar {
    width: 100%;
    height: 100%;
    border-radius: 0px 10px 10px 0;
  }
  .search_symbol {
    height: 40px;
    width: 40px;
    padding: 10px;
  }
  .Search {
    width: 100%;
    border-radius: 10px;
    height: 40px;
  }
  .Subheader {
    height: 100vh;
  }
  .College {
    height: fit-content;
  }
  .College_Training {
    height: 16vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .College_Name {
    width: 43%;
    border: none;
    /* border: 2px solid red; */
    /* padding-right: 0vw;
    padding-right: 1vh;
    padding-left: 1vh; */
  }
}

@media only screen and (max-width: 650px) and (min-width: 426px) {
  .Poster {
    height: 65%;
  }
  .Subheader {
    height: fit-content;
  }
  .Poster_img {
    display: none;
  }
  .subheader_nav {
    display: none;
    overflow: hidden;
  }
  .Poster_Search {
    height: 100%;
    margin-top: 0vh;
    display: flex;
    padding-left: 0;
    padding: 2vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    width: 100%;
    background: linear-gradient(180deg, #6d6875 0%, rgba(83, 40, 40, 0) 100%);
  }
  .Search_heading {
    font-size: 2.5rem;
    line-height: 50px;
    height: auto;
    padding: 0;
    overflow-y: hidden;
    margin-bottom: 10vh;
  }
  .College {
    /* display: none; */
    height: 20%;
    flex-direction: column;
  }
  .College_heading {
    width: 100%;
    height: 45px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    text-align: center;
  }
  .Search_section {
    flex-direction: column;
    width: 100%;
    height: fit-content;
  }
  .Search_left {
    /* border: 2px solid red; */
    width: 100%;
    height: 40px;
    margin-bottom: 2vh;
  }
  .Search_bar {
    width: 100%;
    height: 100%;
    border-radius: 0px 10px 10px 0;
  }
  .search_symbol {
    height: 40px;
    width: 40px;
    padding: 10px;
  }
  .Search {
    width: 100%;
    border-radius: 10px;
    height: 40px;
  }
  .Subheader {
    height: 100vh;
  }
  .College {
    height: fit-content;
  }
  .College_Training {
    height: 16vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .College_Name {
    font-size: 14px;
    width: 33%;
    border: none;
    /* border: 2px solid red; */
    /* padding-right: 0vw;
    padding-right: 1vh;
    padding-left: 1vh; */
  }
  .subheader_fixed {
    display: none;
  }
}

@media only screen and (max-width: 768px) and (min-width: 650px) {
  /* .Poster {
    height: 70vh;
  }
  .nav_tabs a {
    font-size: 1rem;
  }
  .College_heading {
    font-size: 1rem;
  }
  .College_Name {
    font-size: 0.85rem;
  } */
  .Search_heading {
    /* line-height: 6vh; */
  }
  .Subheader {
    height: auto;
    padding: 1vh 0vh;
  }
  .Poster_img {
    object-fit: cover;
  }
  .Poster {
    height: auto;
  }
  .nav_tabs a {
    font-size: 0.8rem;
    width: 90%;
    height: auto;
    margin: 1vh 0vh;
  }
  .Search_section {
    width: 80%;
    height: auto;
  }
  .Search_heading {
    margin-bottom: 3vh;
  }
  .Search {
    width: 25%;
    font-size: 1.2rem;
  }
  .College {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background: rgba(229, 229, 229, 0.95);
  }
  .College_Training {
    height: 100%;
    width: 85vw;
    padding: 1vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgba(109, 104, 117, 0.8);
    opacity: 0.5;
    font-family: Roboto;
  }
  .College_Name {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    text-transform: uppercase;
    border-right: 2px solid rgba(109, 104, 117, 0.8);
    padding: 0vw 2vw;
    font-size: 1rem;
  }
  .College_Name:last-child {
    border: none;
  }
  .College_heading {
    font-size: 1rem;
    color: rgba(109, 104, 117, 0.8);
    opacity: 0.5;
    font-size: 1rem;
    font-family: Roboto;
    width: 12%;
    padding-left: 1vw;
  }
  .Poster_Search {
    top: 2rem;
  }
  .search_symbol {
    height: 35px;
  }
  .Search_bar {
    font-size: 0.9rem;
    height: 35px;
  }
  .Search_section {
    width: 100%;
  }
  .Search {
    height: 35px;
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 900px) and (min-width: 768px) {
  .Subheader {
    height: auto;
    padding: 1vh 0vh;
  }
  .Poster_img {
    object-fit: cover;
  }
  .Poster {
    height: auto;
  }
  .nav_tabs a {
    font-size: 1rem;
    width: 90%;
    height: 100%;
    margin: 0vh 0vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Search_section {
    width: 80%;
    height: auto;
  }
  .Search_heading {
    margin-bottom: 3vh;
    /* line-height: 6vh; */
  }
  .Search {
    width: 25%;
    font-size: 1rem;
  }
  .College {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background: rgba(229, 229, 229, 0.95);
  }
  .College_Training {
    height: 100%;
    width: 85vw;
    padding: 1vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgba(109, 104, 117, 0.8);
    opacity: 0.5;
    font-family: Roboto;
  }
  .College_Name {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    text-transform: uppercase;
    border-right: 2px solid rgba(109, 104, 117, 0.8);
    padding: 0vw 2vw;
    font-size: 1rem;
  }
  .College_Name:last-child {
    border: none;
  }
  .College_heading {
    font-size: 1rem;
    color: rgba(109, 104, 117, 0.8);
    opacity: 0.5;
    font-size: 1rem;
    font-family: Roboto;
    width: 12%;
    padding-left: 1vw;
  }
  .Search_bar {
    font-size: 0.9rem;
  }
  .Poster_Search {
    top: 1rem;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 900px) {
  .Subheader {
    height: auto;
  }
  .Poster {
    height: auto;
  }
  .nav_tabs a {
    font-size: 1rem;
  }
  .College_heading {
    font-size: 1.2rem;
  }
  .College_Name {
    font-size: 1.1rem;
  }
  .Poster_Search {
    top: 4rem;
  }
}

@media only screen and (max-width: 1400px) and (min-width: 1200px) {
  .College_heading {
    font-size: 1.4rem;
  }
  .College_Name {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 2000px) and (min-width: 1400px) {
}

@media only screen and (max-width: 4000px) and (min-width: 2000px) {
  .Poster {
    height: auto;
  }
}
@media screen and (max-device-width: 350px) {
  .next {
    left: 80vw;
  }
}
@media screen and (max-device-width: 426px) {
  .subheader_fixed {
    display: none;
  }
  .Poster {
    height: 70%;
  }
  .Poster_img {
    display: none;
  }
  .subheader_nav {
    display: none;
    overflow: hidden;
  }
  .Poster_Search {
    height: 100%;
    margin-top: 0vh;
    display: flex;
    padding-left: 0;
    padding: 2vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    width: 100%;
    background: linear-gradient(180deg, #6d6875 0%, rgba(83, 40, 40, 0) 100%);
  }
  .Search_heading {
    font-size: 2.5rem;
    line-height: 50px;
    height: auto;
    padding: 0;
    overflow-y: hidden;
    margin-bottom: 10vh;
  }
  .College {
    /* display: none; */
    height: 20%;
    flex-direction: column;
  }
  .College_heading {
    width: 100%;
    height: 45px;
    font-size: 20px;
    /* border: 2px solid red; */
    text-align: center;
  }
  .Search_section {
    flex-direction: column;
    width: 100%;
    height: fit-content;
  }
  .Search_left {
    /* border: 2px solid red; */
    width: 100%;
    height: 40px;
    margin-bottom: 2vh;
  }
  .Search_bar {
    width: 100%;
    height: 100%;
    border-radius: 0px 10px 10px 0;
  }
  .search_symbol {
    height: 40px;
    width: 40px;
    padding: 10px;
  }
  .Search {
    width: 100%;
    border-radius: 10px;
    height: 40px;
  }
  .Subheader {
    height: 100vh;
  }
  .College_Training {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* border: 2px solid red; */
  }
  .College_Name {
    font-size: 1rem;
    padding-right: 0vw;
    padding-right: 1vh;
    padding-left: 1vh;
  }
}
/* @media screen and (max-device-width: 426px) {
  .subheader_fixed {
    display: none;
  }
} */

/* @media screen and (max-width: 1024px) {
  .Poster {
    height: 85%;
  }
  .Poster_img {
    object-fit: cover;
  }
  .Subheader {
    height: 50vh;
  }
  .nav_tabs a {
    font-size: 1.1rem;
    text-align: center;
  }
  .Search_heading {
    width: 100%;
    font-size: 4em;
  }
  .Poster_Search {
    width: 60vw;
  }
  .College_heading {
    font-size: 1.2rem;
  }
  .College {
    height: 15%;
  }
  .College_Name {
    font-size: 1.2rem;
    text-align: center;
    padding: 0px;
    width: 20%;
    height: 80%;
  }
}
@media only screen and (max-width: 768px) {
  .Subheader {
    height: auto;
    padding: 1vh 0vh;
  }
  .Poster_img {
    object-fit: cover;
  }
  .Poster {
    height: 40vh;
  }
  .nav_tabs a {
    font-size: 0.8rem;
    width: 90%;
    height: auto;
    margin: 1vh 0vh;
  }
  .Search_section {
    width: 80%;
    height: auto;
  }
  .Search_heading {
    margin-bottom: 3vh;
  }
  .Search {
    width: 25%;
    font-size: 1.3rem;
  }
  .College {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background: rgba(229, 229, 229, 0.95);
  }
  .College_Training {
    height: 100%;
    width: 85vw;
    padding: 1vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgba(109, 104, 117, 0.8);
    opacity: 0.5;
    font-family: Roboto;
  }
  .College_Name {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    text-transform: uppercase;
    border-right: 2px solid rgba(109, 104, 117, 0.8);
    padding: 0vw 2vw;
    font-size: 1rem;
  }
  .College_Name:last-child {
    border: none;
  }
  .College_heading {
    font-size: 1rem;
    color: rgba(109, 104, 117, 0.8);
    opacity: 0.5;
    font-size: 1rem;
    font-family: Roboto;
    width: 12%;
    padding-left: 1vw;
  }
}
@media screen and (max-width: 426px) {
  .Poster {
    height: 65%;
  }
  .Poster_img {
    display: none;
  }
  .subheader_nav {
    display: none;
    overflow: hidden;
  }
  .Poster_Search {
    height: 100%;
    margin-top: 0vh;
    display: flex;
    padding-left: 0;
    padding: 2vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    width: 100%;
    background: linear-gradient(180deg, #6d6875 0%, rgba(83, 40, 40, 0) 100%);
  }
  .Search_heading {
    font-size: 2.5rem;
    line-height: 50px;
    height: auto;
    padding: 0;
    overflow-y: hidden;
    margin-bottom: 10vh;
  }
  .College {
    height: 20%;
    flex-direction: column;
  }
  .College_heading {
    width: 100%;
    height: 45px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .Search_section {
    flex-direction: column;
    width: 100%;
    height: fit-content;
  }
  .Search_left {
    width: 100%;
    height: 40px;
    margin-bottom: 2vh;
  }
  .Search_bar {
    width: 100%;
    height: 100%;
    border-radius: 0px 10px 10px 0;
  }
  .search_symbol {
    height: 40px;
    width: 40px;
    padding: 10px;
  }
  .Search {
    width: 100%;
    border-radius: 10px;
    height: 40px;
  }
  .Subheader {
    height: 100vh;
  }
  .College {
    height: fit-content;
  }
  .College_Training {
    height: 16vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .College_Name {
    font-size: 14px;
    width: 33%;
    border: none;
  }
} */
