.Poster {
  height: 50vh;
}
.Subheader {
  height: 60vh;
  width: 100%;
  border: 2px solid red;
}
.College {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background: rgba(229, 229, 229, 0.95);
}
.College_Training {
  height: 100%;
  width: 80vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgba(109, 104, 117, 0.8);
}
.College_Name {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.College_heading {
  color: rgba(109, 104, 117, 0.8);
}
