.main-container{
    position: relative;
    height: 100vh;
}
.main-container img{
    width: 100%;
    height:100%;
}
.explore__text{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 4rem;
    color: #6D6875;
    text-align: start; 
    z-index: 1;

}
.explore__button{
    width: 30vh;
    height: 10vh;
    background: #EB6A6A;
    border-radius: 10px;
    z-index: 1;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: #FFFFFF;
    margin: 8vh;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}
.main-container__content{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    width: 60%;
    top:20vh;
    left: 8vh;
    z-index: 10;
}
@media screen and (max-width:426px) {
    .main-container{
        height: 30vh;
    }
    .main-container img{
        width: 100%;
        height:100%;
    }
    .explore__text{
        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 2rem;
        color: #6D6875;
        text-align: start; 
        z-index: 1;
    
    }
    .explore__button{
        width: 10vh;
        height: 5vh;
        background: #EB6A6A;
        border-radius: 10px;
        z-index: 1;
        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
        color: #FFFFFF;
        margin: 3vh;
        filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    }
    .main-container__content{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: transparent;
        width: 60%;
        top:10vh;
        left: 5vh;
        z-index: 10;
    }
    
}