
    .main-container{
        position: relative;
        overflow-y: hidden;
    }
    .main-container img{
        width: 100%;
    }
    .explore__text{
        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 4.5rem;
        color: #6D6875;
        text-align: start; 
        z-index: 1;
    }
    .explore__button{
        width: 50%;
        height: 20%;
        background: #EB6A6A;
        border-radius: 10px;
        z-index: 1;
        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
        color: #FFFFFF;
        margin: 5vh;
        cursor: pointer;
        filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    }
    .main-container__content{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: transparent;
        width: 60%;
        top:23vh;
        left: 10vh;
        z-index: 10;
    }  
@media screen and (max-width: 426px) and (min-width: 300px){
    .main-container{
        height: auto;
        overflow-y: hidden;
    }
    .main-container img{
        width: 100%;
        height:100%;
    }
    .explore__text{
        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 1rem;
        color: #6D6875;
        text-align: start; 
        z-index: 1;
    
    }
    .explore__button{
        width: 50%;
        height:20%;
        background: #EB6A6A;
        border-radius: 10px;
        z-index: 1;
        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 0.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
        color: #FFFFFF;
        margin: 1vh;
        filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    }
    .main-container__content{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: transparent;
        width: 55%;
        top:1vh;
        left: 2vh;
        z-index: 10;
    }
}
    
    
    @media screen and (max-width: 650px) and (min-width: 426px){
        .main-container{
            height: auto;
            overflow-y: hidden;
        }
        .main-container img{
            width: 100%;
            height:100%;
        }
        .explore__text{
            font-family: Roboto;
            font-style: normal;
            font-weight: 900;
            font-size: 1.5rem;
            color: #6D6875;
            text-align: start; 
            z-index: 1;
        
        }
        .explore__button{
            width: 50%;
            height: 5vh;
            border: 2px solid red;
            background: #EB6A6A;
            border-radius: 10px;
            z-index: 1;
            font-family: Roboto;
            font-style: normal;
            font-weight: 900;
            font-size: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: left;
            color: #FFFFFF;
            margin: 2vh;
            filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
        }
        .main-container__content{
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: transparent;
            width: 55%;
            top:2vh;
            left: 2vh;
            z-index: 10;
        }
    }
    
    @media screen and  (max-width: 768px) and (min-width: 650px){
        .explore__text{
            font-size: 2rem; 
            z-index: 1;
        
        }
        .explore__button{
            width: 50%;
            height: 8vh;
            z-index: 1;
            font-size: 1.4rem;
            margin: 2vh;
        }
        .main-container__content{
            position: absolute;
            width: 55%;
            top:5vh;
            left: 3vh;
            z-index: 10;
        }
    }
    
    @media screen and  (max-width: 900px) and (min-width: 768px){
        .explore__text{
            font-size: 2.3rem; 
            z-index: 1;
        
        }
        .explore__button{
            width: 50%;
            height: 8vh;
            z-index: 1;
            font-size: 1.6rem;
            margin: 2vh;
        }
        .main-container__content{
            position: absolute;
            width: 58%;
            top:5vh;
            left: 3vh;
            z-index: 10;
        }
    }
    
    @media screen and  (max-width: 1200px) and (min-width: 900px){
        .explore__text{
            font-size: 2.9rem; 
            z-index: 1;
        
        }
        .explore__button{
            width: 30%;
            height: 8vh;
            z-index: 1;
            font-size: 2rem;
            margin: 3vh;
        }
        .main-container__content{
            position: absolute;
            width: 60%;
            top:10vh;
            left: 5vh;
            z-index: 10;
        }
    }
    
    @media screen and  (max-width: 1400px) and (min-width: 1200px){
        .explore__text{
            font-size: 3.5rem; 
            z-index: 1;
        
        }
        .explore__button{
            width: 30%;
            height: 10vh;
            z-index: 1;
            font-size: 2.4rem;
            margin: 4vh;
        }
        .main-container__content{
            position: absolute;
            width: 58%;
            top:10vh;
            left: 5vh;
            z-index: 10;
        }   
    }
    
    @media screen and  (max-width: 2000px) and (min-width: 1400px){
        .explore__text{
            font-size: 3.9rem; 
            z-index: 1;
        
        }
        .explore__button{
            width: 30%;
            height: 10vh;
            z-index: 1;
            font-size: 2.6rem;
            margin: 6vh;
        }
        .main-container__content{
            position: absolute;
            width: 58%;
            top:18vh;
            left: 6vh;
            z-index: 10;
        }
    }
    
    @media screen and  (max-width: 4000px) and (min-width: 2000px){
        .explore__text{
            font-size: 6rem; 
            z-index: 1;
        }
        .explore__button{
            width: 50%;
            height:10vh;
            z-index: 1;
            font-size: 4rem;
            margin: 8vh;
        }
        .main-container__content{
            position: absolute;
            width: 58%;
            top:20vh;
            left: 8vh;
            z-index: 10;
        }
    }
    @media screen and (max-device-width:426px) {
        .main-container__content{
            position: absolute;
            width: 58%;
            top:5vh;
            left: 3vh;
            z-index: 10;
        }
        .explore__button{
            width: 50%;
            height: 5vh;
            z-index: 1;
            font-size: 1rem;
            margin: 4vh;
        }
        
    }