.NewContainer {
  margin: 7vh 30vh;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.NewContainer__head {   
  font-family: Bebas-Neue;
  font-size: 3.5rem;
  color: #000000;
}
.new_Container_main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width:1440px) {
  .NewContainer {
    margin: 15vh 10vh;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .NewContainer__head {   
    font-family: Bebas-Neue;
    font-size: 3.5rem;
    color: #000000;
  }
  .new_Container_main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
}
@media screen and (max-width:1024px) {
  .NewContainer {
    margin: 10vh 5vh;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .NewContainer__head {   
    font-family: Bebas-Neue;
    font-size: 3.5rem;
    color: #000000;
  }
  .new_Container_main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media screen and (max-device-width:768px) {
  .NewContainer {
    margin: 3vh 5vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
  }
  .NewContainer__head {   
    font-family: Bebas-Neue;
    font-size: 2.5rem;
    color: #000000;
  }
  .new_Container_main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  } 
  
}
@media screen and (max-device-width:426px) {
  .NewContainer {
    margin: 3vh 2vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
  }
  .NewContainer__head {   
    font-family: Bebas-Neue;
    font-size: 1.5rem;
    color: #000000;
  }
  .new_Container_main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  } 
}
