.containerNC {
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;  
  border: 2px solid red;
  height: 40vh;
  text-align: center;
  cursor: pointer;
}
.element {
  width: 18vh;
  height: 18vh;
  border-radius: 50%;
  background: #eb6a6a;
  z-index: 10;
  margin: 3vh 0vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.element_img {
  z-index: 1;
  width: auto;
  height: 10vh;
  justify-content: center;
  align-content: center;
  margin-top: 4vh;
}
.element_name {
  font-size: 2rem;
  font-family: Bebas-Neue;
  font-style: normal;
  font-weight: normal;
  text-align: center;
}
@media screen and (max-width: 426px) and (min-width: 300px){
  .content {
    width: 12vh;
    height: 15vh;
  }
  .element {
    width: 6vh;
    height: 6vh;
  }
  .element_img {
    height: 3vh;
    margin-top: 1.5vh;
  }
  .element_name {
    font-size: 1rem;
    margin-top: -1vh;
  }
}


@media screen and (max-width: 650px) and (min-width: 426px){
  .content {
    width: 17vh;
    height: 15vh;
  }
  .element {
    width: 6vh;
    height: 6vh;
  }
  .element_img {
    height: 3vh;
    margin-top: 1.5vh;
  }
  .element_name {
    font-size: 1rem;
    margin-top: -1vh;
  }
}

@media screen and  (max-width: 768px) and (min-width: 650px){
  .content {
    width: 20vh;
    height: 15vh;
  }
  .element {
    width: 8vh;
    height: 8vh;
  }
  .element_img {
    height: 4vh;
    margin-top: 2vh;
  }
  .element_name {
    font-size: 1.3rem;
    margin-top: -1vh;
  }
}

@media screen and  (max-width: 900px) and (min-width: 768px){
  .content {
    width: 20vw;
    /* height: 23vh; */
  }
  .element {
    width: 8vh;
    height: 8vh;
  }
  .element_img {
    height: 4vh;
    margin-top: 2vh;
  }
  .element_name {
    font-size: 1.3rem;
    margin-top: -1vh;
  }
}

@media screen and  (max-width: 1200px) and (min-width: 900px){
  .content {
    width: 20vw;
    /* height: 23vh; */
    
  }
  .element {
    width: 8vh;
    height: 8vh;
  }
  .element_img {
    height: 4vh;
    margin-top: 2vh;
  }
  .element_name {
    font-size: 1.5rem;
    margin-top: -1vh;
  }
}

@media screen and  (max-width: 1400px) and (min-width: 1200px){
  .content {
    width: 20vw;
    /* height: 25vh;   */
    border: 2px solid red;

  }
  .element {
    width: 10vh;
    height: 10vh;
  }
  .element_img {
    height: 6vh;
    margin-top: 2vh;
  }
  .element_name {
    font-size: 1.5rem;
    margin-top: -1vh;
  }
}

@media screen and  (max-width: 2000px) and (min-width: 1400px){
  .content {
    width: 35vh;
    height: 30vh;
  }
  .element {
    width: 12vh;
    height: 12vh;
  }
  .element_img {
    height: 7vh;
    margin-top: 2.5vh;
  }
  .element_name {
    font-size: 1.8rem;
    margin-top: -1vh;
  }
}

@media screen and  (max-width: 4000px) and (min-width: 2000px){
  .content {
    width: 43vh;
    height: 30vh;
  }
  .element {
    width: 12vh;
    height: 12vh;
  }
  .element_img {
    height: 7vh;
    margin-top: 2.5vh;
  }
  .element_name {
    font-size: 2.5rem;
    margin-top: -1vh;
  }
}
 @media screen and (max-width:1024px) {
  .containerNC {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .content {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25vh;
    height: 28vh;
  }
  .element {
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    background: #eb6a6a;
    z-index: 10;
    margin: 5vh;
    text-align: center;
  }
  .element_img {
    z-index: 1;
    width: auto;
    height: 8vh;
    justify-content: center;
    align-content: center;
  }
  .element_name {
    font-size: 2rem;
    font-family: Bebas-Neue;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    z-index: 4;
  }
}
@media screen and (max-device-width:768px) {
  .containerNC {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .content {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width:18vh;
    height: 25vh;
  }
  .element {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    background: #eb6a6a;
    z-index: 10;
    text-align: center;
  }
  .element_img {
    z-index: 1;
    width: auto;
    height: 5vh;
    justify-content: center;
    align-content: center;
    margin-top: 2vh;
  }
  .element_name {
    font-size: 1.5rem;
    font-family: Bebas-Neue;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    z-index: 4;
  }
  
}

@media (max-device-width: 426px) {
  .containerNC {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .content {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vh;
    height: 25vh;
    /* border: 2px solid red; */
  }
  .element {
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    background: #eb6a6a;
    z-index: 10;
    text-align: center;
  }
  .element_img {
    z-index: 1;
    width: auto;
    height: 4vh;
    justify-content: center;
    align-content: center;
    margin-top: 2vh;
  }
  .element_name {
    font-size: 1rem;
    font-family: Bebas-Neue;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    margin-top: -3vh;
    z-index: 4;
  }
}
