.dash-container{
    border: 1px solid #C4C4C4;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: auto;
    margin: 1% 10%;
}
@media screen and (max-width: 765px){
    .dash-container{
        flex-direction: column;
        width: auto;
        margin: 5% 10%;
    }
}

