
.faq {
  margin: 2% 20%;
  font-family: CooperHewitt-Light;
}

.faq__title {
  font-family: CooperHewitt-Book;
  font-size: 2rem;
}

.faq__questions {
  padding: 2% 2%;
  display: inline;
}
.faq__question span{
  padding: 1vh;
}
.faq__question {
  background: var(--grey);
  border: 1px solid var(--gray);
  font-size: 1.5rem;
  padding: 1%;
  display: grid;
  grid-template-columns: auto 2%;
  border-radius: 6px;
}

.faq__show {
  background: var(--gray);
  border-radius: 50%;
  height: 55px;
  width: 55px;
  padding: 1vh;
  font-size: 1.8rem;
  margin-left: -5vh;
  justify-items: center;
  align-items: center;
  text-align: center;
  /* border: solid transparent 1px; */
}

.faq__show:hover {
  border: solid var(--light-blue) 1px;
  cursor: pointer;
}

.faq__answer {
  background: var(--gray-light);
  font-size: 1.1rem;
  box-sizing: border-box;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vh;
  overflow: hidden;
  border-radius: 6px;
}
.faq__breif,
.faq__details {
  font-size: 1.2rem;
}

@media screen and (max-width:426px) { 
  .faq__question {
    grid-template-columns: auto 12%;
  }
  .faq__question span{
    font-size: 1rem;
  }
  .faq__brief{
    font-size: 1rem;
  }
  .faq__answer{
    font-size: 1rem;
  }
  .faq__show{
    height: 35px;
    width: 35px;
    padding: 1vh;
    margin-left: 0;
    font-size: 1rem;
  }
  
}