@media screen and (max-width: 426px) {
  .contact {
    grid-template-columns: auto;
    height: fit-content;
  }

  .contact__form,
  .contact__info {
    margin-bottom: 2vh;
    padding: 4vh;
  }

  .contact__input {
    width: 100%;
    margin: 1vh 0;
  }

  .contact__info{
    margin: 0px;
  }
  .contact__icons{
    width: 6vw;
    height: auto;
    margin: 2px;
  }

  .contact__instagram_image {
    width: 30px;
  }

  .faq__question {
    grid-template-columns: auto 12%;
  }
  .faq__question span{
    font-size: 1rem;
  }
  .faq__brief{
    font-size: 1rem;
  }
  .faq__answer{
    font-size: 1rem;
  }
}
