.contact{
    margin: 3% 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contactUsform-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40%;
    margin-right: 1.5%;
    background: #6D6875;
    box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
    padding:0% 3% 1% 4% ;
    border-radius: 30px;
    height: 20%;
}

.contactUsform__heading{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1.4rem;
    display: flex;
    align-items: flex-end;
    text-align: center;
    width: auto;
    margin: 3vh 1vh 2vh 1vh;
    color: white;
}
.contactUsform__name{
    width: 48%;
    border: solid var(--gray-light) 1px;
    border-radius: 5px;
    padding: 0.5vh ;
    font-size: 1rem;
    font-family: "Roboto";
}
.contactUsform__phone{
    width:46%;
    margin-left: 2%;
    border: solid var(--gray-light) 1px;
    border-radius: 5px;
    padding: 0.5vh ;
    font-size: 1rem;
    font-family: "Roboto";
}
.contactUsform__email{
    width: 46%;
    margin-left: 2%;
    border: solid var(--gray-light) 1px;
    border-radius: 5px;
    padding: 0.5vh ;
    font-size: 1rem;
    font-family: "Roboto";
}
.contactUsform__message{
    width: 97%;
    margin-left: 2%;
    margin: 5% 2%;
    border: solid var(--gray-light) 1px;
    border-radius: 5px;
    padding: 0.5vh ;
    font-size: 1rem;
    font-family: "Roboto";
}
.contactUsform__button{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    padding: 0.5vh;
    width: 25%;
    margin: 0;
    border: none;
    font-size: 1.4rem;
    color: #FFFFFF;
    background: #FF8A00;
    border-radius: 10px;
}
.rowButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.row_flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.contactUsicon-container{
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: #6D6875;
    box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
}
.contactUsicon__heading{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 40px;
    text-align: left;
    margin: 4%;
    width: 50%;
    color: #FFFFFF;
}
.contactUsicon{
    width: auto;
    height: 3.5vh;
}
.contactUsiconD{
    width: auto;
    height: 4.5vh;
}
.contactUsicon__style{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 1% 0%;
    width: 60%;
}
.contactUsicons__style{
    display: flex;
    width: 100%;
    margin: 6% 0%;
    flex-direction: row;
    justify-content: center;
}
.contactUsicon__link{
    margin:3% 10% 2% 0%;
}
.contactUsicon__text{
    font-family: Roboto;
    font-style: normal;
    font-size: 1.3rem;
    line-height: 26px;
    margin: 0% 6%;
    color: #FFFFFF;
}

.faq {
    margin: 5% 20%;
  }
  
  .faq__title {
    font-family: Roboto;
    font-size: 2.3rem;
    margin: 2% 0%;
  }
  
  .faq__questions {
    padding: 2% 2%;
    display: inline;
  }
  .faq__question span{
    padding: 1vh;
  }
  .faq__question {
    background: var(--grey);
    border: 1px solid var(--gray);
    font-size: 1.5rem;
    padding: 1%;
    display: grid;
    grid-template-columns: auto 2%;
    border-radius: 6px;
  }
  
  .faq__show {
    background: var(--gray);
    border-radius: 50%;
    height: 55px;
    width: 55px;
    padding: 1vh;
    font-size: 1.8rem;
    margin-left: -5vh;
    justify-items: center;
    align-items: center;
    text-align: center;
    /* border: solid transparent 1px; */
  }
  
  .faq__show:hover {
    border: solid var(--light-blue) 1px;
    cursor: pointer;
  }
  
  .faq__answer {
    background: var(--gray-light);
    font-size: 1.1rem;
    box-sizing: border-box;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh;
    overflow: hidden;
    border-radius: 6px;
  }
  .faq__breif,
  .faq__details {
    font-size: 1.2rem;
    font-family: Roboto;
  }
  @media screen and (max-width: 426px) and (min-width: 300px){
    .contact{
        margin: 3%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contactUsform-container{
        width: 80%;
        margin-bottom: 8%;
    }
    .faq__show {
        height: 40px;
        width: 40px;
        padding: 1vh;
        font-size: 1.7rem;
        margin-left: -3vh;
        text-align: center;
        margin-top: 0.5vh;
        /* border: solid transparent 1px; */
      }
      .contactUsicon{
        width: auto;
        height: 1vh;
    }
    .contactUsiconD{
        width: auto;
        height: 2vh;
    }
    .contactUsicon__text{
        font-size: 1rem;
        line-height: 26px;
        margin: 1% 6%;
    }
    .contactUsicon-container{
        width: 80%;
    }
    .contactUsform__button{
        width: 40%;
        margin: 5% auto;
    }
    .faq__details{
        font-size: 1.5rem;
    }
    .faq {
        margin: 5% 10%;
      }
}


@media screen and (max-width: 650px) and (min-width: 426px){
    .contact{
        margin: 3%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contactUsform-container{
        width: 80%;
        margin-bottom: 8%;
    }
    .faq__question{
        font-size: 1rem;
        width: 100%;
    }
    .faq__show {
        height: 30px;
        width: 30px;
        padding: 1vh;
        font-size: 1.2rem;
        margin-left: -1.5rem;
        text-align: center;
        margin-top: 0.5vh;
        /* border: solid transparent 1px; */
      }
      .contactUsicon{
        width: auto;
        height: 2vh;
    }
    .contactUsiconD{
        width: auto;
        height: 3vh;
    }
    .contactUsicon__text{
        font-size: 1rem;
        line-height: 26px;
        margin: 1% 6%;
    }
    .contactUsicon-container{
        width: 80%;
    }
    .contactUsform__button{
        width: 40%;
        margin: 5% auto;
    }
    .faq__details{
        font-size: 1.5rem;
    }
    .faq {
        margin: 5% 15%;
      }
}

@media screen and  (max-width: 768px) and (min-width: 650px){
    .contactUsform-container{
        width: 45%;
    }
    .faq__show {
        height: 30px;
        width: 30px;
        padding: 1vh;
        font-size: 1.5rem;
        margin-left: -1.5rem;
        text-align: center;
        margin-top: 0.5vh;
        /* border: solid transparent 1px; */
      }
      .faq__question{
        font-size: 1rem;
        width: 100%;
    }
      .contactUsicon{
        width: auto;
        height: 2vh;
    }
    .contactUsicon__style{
        width: 80%;
    }
    .contactUsiconD{
        width: auto;
        height: 3vh;
    }
    .contactUsicon__text{
        font-size: 1rem;
        line-height: 26px;
        margin: 1% 5%;
    }
    .contactUsicon-container{
        width: 45%;
    }
    .contactUsform__button{
        width: 50%;
        margin: 5% auto;
    }
    .faq__details{
        font-size: 1.5rem;
    }
    .faq {
        margin: 5% 15%;
      }
}

@media screen and  (max-width: 900px) and (min-width: 768px){
    .faq__show {
        height: 30px;
        width: 30px;
        padding: 1vh;
        font-size: 1.5rem;
        margin-left: -1.5rem;
        text-align: center;
        margin-top: 0.5vh;
        /* border: solid transparent 1px; */
      }
      
    .contactUsicon__style{
        width: 80%;
    }
      .faq__question{
          font-size: 1.2rem;
      }
      .contactUsicon{
        width: auto;
        height: 2vh;
    }
    
    .contactUsiconD{
        width: auto;
        height: 3vh;
    }
    .contactUsicon__text{
        font-size: 1.1rem;
        line-height: 26px;
        margin: 1% 6%;
    }
    .contactUsicon-container{
        width: 40%;
    }
    .contactUsform__button{
        width: 50%;
    }
    .faq__details{
        font-size: 1.5rem;
    }
}

@media screen and  (max-width: 1200px) and (min-width: 900px){
    .faq__show {
        height: 35px;
        width: 35px;
        padding: 1vh;
        font-size: 1.5rem;
        margin-left: -1.8rem;
        text-align: center;
        margin-top: 0.5vh;
        /* border: solid transparent 1px; */
      }
      .faq__question{
          font-size: 1.2rem;
      }
      .contactUsicon{
        width: auto;
        height: 2vh;
    }
    .contactUsicon__style{
        width: 50%;
    }
    .contactUsiconD{
        width: auto;
        height: 3vh;
    }
    .contactUsicon__text{
        font-size: 1.1rem;
        line-height: 26px;
        margin: 1% 5%;
    }
    .contactUsicon-container{
        width: 40%;
    }
    .contactUsform__button{
        width: 40%;
        margin: 5% auto;
    }
    .faq__details{
        font-size: 2rem;
    }
}
@media screen and  (max-width: 1400px) and (min-width: 1200px){
      .contactUsicon{
        width: auto;
        height: 2.3vh;
    }
    
    .contactUsiconD{
        width: auto;
        height: 3vh;
    }
    .contactUsicon__text{
        font-size: 1.3rem;
        line-height: 16px;
        margin: 1% 5%;
    }
    .contactUsicon__style{
        width: 60%;
    }
    .contactUsicon-container{
        width: 40%;
    }
    .contactUsform__button{
        width: 40%;
        margin: 5% auto;
    }
    .faq__details{
        font-size: 2rem;
    }
}

@media screen and  (max-width: 2000px) and (min-width: 1400px){
    .faq__details{
        font-size: 2rem;
    }
}

@media screen and  (max-width: 4000px) and (min-width: 2000px){
    .faq__details{
        font-size: 2rem;
    }
}
/* @media screen and (max-width:1024px) {
    .contactUsform__button{
        width: 40%;
    }
    .contactUsicon__style{
        width: 90%;
    }
    .contactUsicon{
        width: auto;
        height: 2vh;
    }
    .contactUsicon__text{
        font-size: 1.2rem;
    }
} */
/* @media screen and (max-device-width:768px) {
    .contact{
        margin: 3% 10%;
    }
    .contactUsform-container{
        width: 55%;
        margin-bottom: 5%;
    }
    .contactUsform__heading{
        margin: 3vh 2vh 2vh 1vh;
    }
    .contactUsform__button{
        width: 30%;
        font-size: 1.2rem;
        margin: 2vh 0vh;
    }
    .contactUsicon-container{
        width: 45%;
        height: auto;
        margin-bottom: 3vh;
    }
    .contactUsicon__heading{
        font-size: 1.3rem;
    }
    .contactUsicon{
        width: auto;
        height: 1.7vh;
    }
    .contactUsiconD{
        width: auto;
        height: 2.5vh;
    }
    .contactUsicon__style{
        margin: 1% 1%;
        width: 90%;
    }
    .contactUsicon__text{
        font-size: 1rem;
        line-height: 20px;
        margin: 1% 4%;
    }
    .faq{
        margin: 5% 10%;
    }
    .faq__show{
        font-size: 2rem;
        padding-bottom: 1vh;
    }
    .faq__question{
        grid-template-columns: auto 4%;
    }
    
} */
@media screen and (max-device-width:426px) {
        .contact{
            margin: 3% 10%;
            flex-direction: column;
        }
        .container{
            flex-direction: column;
        }
        .contactUsform__message{
            margin-bottom: 5%;
        }
        .contactUsform__heading{
            font-size: 1.2rem;
            margin-top: 5%;
            height: auto;
        }
        .contactUsform__button{
            height: auto;
            width: 50%;
            margin-bottom: 5%;
        }
        .contactUsform-container{
            width: 100%;
            margin-bottom: 5%;
        }
        .contactUsicon-container{
            width: 100%;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        .contactUsicon__heading{
            text-align: center;
        }
        .contactUsicon{
            width: auto;
            height: 2vh;
        }
        .contactUsiconD{
            width: auto;
            height: 2vh;
            margin: 5% ;
        }
        .contactUsicon__text{
            font-size: 1rem;
            line-height: 26px;
        }
        .contactUsicon__style{
            width: 70%;
        }
        .contactUsicons__style{
            margin: 1%  0%;
        }
        .faq{
            margin-top: 10%;
        }
        .faq__question {
            grid-template-columns: auto 12%;
          }
          .faq__question span{
            font-size: 1rem;
          }
          .faq__brief{
            font-size: 1rem;
          }
          .faq__answer{
            font-size: 1rem;
          }
          .faq__show{
            height: 30px;
            width: 30px;
            padding-bottom: 1vh;
            margin-left: -0.5rem;
            font-size: 1.2rem;
          }
}