.contact {
  width: 76vw;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 70% 30%;
  padding: 12vh 12vw;
  height: 60vh;
  overflow-y: hidden;
}

.contact__form,
.contact__info {
  height: inherit;
  padding: 0 2%;
}

.contact__form {
  background-color: var(--gray-light);
  margin: 1px;
  border-radius: 12px;
  align-self: center;
}

.contact__title {
  font-size: 2rem;
  padding: 2%;
  font-family: CooperHewitt-Book;
}

.contact__input {
  width: 40%;
  border-radius: 2px;
  margin: 2% 1%;
  height: 40px;
  padding: 2px 5px;
  box-shadow: 1px 1px 2px var(--gray);
  border: 0px;
}

.contact__message {
  width: 90%;
  margin: 1% 1%;
  height: 45px;
  padding: 2px 5px;
}

.contact__submit {
  background: var(--peach);
  font-family: CooperHewitt-Book;
  font-size: 1.5rem;
  border: 0px;
  border-radius: 6px;
}

.contact__info {
  background-color: var(--gray-light);
  align-self: center;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  text-align: center;
  align-items: center;
  margin-left: 10px;
}

.contact__mail,
.contact__phone,
.contact__social {
  margin: 6% 0;
}

.contact__social {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.contact__instagram_image {
  width: 2vw;
  /* height: auto; */
  margin: 0.5vw;
}
.contact__media {
  /* border: 2px solid red; */
}
.contact__link {
  text-decoration: none;
}

.faq {
  margin: 2% 20%;
  font-family: CooperHewitt-Light;
}

.faq__title {
  font-family: CooperHewitt-Book;
  font-size: 2rem;
}

.faq__questions {
  padding: 2% 2%;
  display: inline;
}

.faq__question {
  background: var(--peach);
  font-size: 1.2rem;
  padding: 2%;
  display: grid;
  grid-template-columns: auto 2%;
  border-radius: 6px;
}

.faq__show {
  background: var(--skin);
  border-radius: 50%;
  height: 25px;
  width: 25px;
  justify-items: center;
  align-items: center;
  text-align: center;
  border: solid transparent 1px;
}

.faq__show:hover {
  border: solid var(--light-blue) 1px;
  cursor: pointer;
}

.faq__answer {
  background: var(--gray-light);
  font-size: 1.1rem;
  box-sizing: border-box;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vh;
  overflow: hidden;
  border-radius: 6px;
}
.faq__breif,
.faq__details {
  font-size: 1.2rem;
}
