.contact{
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container{
    height: auto;
}
.contactUsform-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 55%;
    margin-right: 1.5%;
    background: #6D6875;
    box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
    padding:0% 3% 1% 4% ;
    border-radius: 30px;
    height: 20%;
}

.contactUsform__heading{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1.4rem;
    display: flex;
    align-items: flex-end;
    text-align: center;
    width: auto;
    margin: 8vh 1vh 2vh 1vh;
    color: white;
}
.contactUsform__name{
    width: 48%;
    margin-left: 2%;
    margin-bottom: 5%;
    border: solid var(--gray-light) 1px;
    border-radius: 5px;
    padding: 0.5vh ;
    font-size: 1rem;
    font-family: "Roboto";
}
.contactUsform__phone{
    width:46%;
    margin-left: 2%;
    border: solid var(--gray-light) 1px;
    border-radius: 5px;
    padding: 0.5vh ;
    font-size: 1rem;
    font-family: "Roboto";
}
.contactUsform__email{
    width: 97%;
    margin-left: 2%;
    border: solid var(--gray-light) 1px;
    border-radius: 5px;
    padding: 0.5vh ;
    font-size: 1rem;
    font-family: "Roboto";
}
.contactUsform__message{
    width: 97%;
    margin-left: 2%;
    margin: 4% 2%;
    border: solid var(--gray-light) 1px;
    border-radius: 5px;
    padding: 0.5vh ;
    font-size: 1rem;
    font-family: "Roboto";
}
.contactUsform__button{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    padding: 0.5vh;
    width: 25%;
    margin: 0;
    border: none;
    font-size: 1.4rem;
    color: #FFFFFF;
    background: #FF8A00;
    border-radius: 10px;
}
.rowButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.contactUsicon-container{
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: #6D6875;
    box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
}
.contactUsicon__heading{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    text-align: left;
    margin: 5%;
    width: 50%;
    color: #FFFFFF;
}
.contactUsicon{
    width: auto;
    height: 3vh;
}
.contactUsiconD{
    width: auto;
    height: 4vh;
}
.contactUsicon__style{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 1% 0%;
    width: 50%;
}
.contactUsicons__style{
    display: flex;
    width: 100%;
    margin: 6% 0%;
    flex-direction: row;
    justify-content: center;
}
.contactUsicon__link{
    margin:3% 10% 2% 0%;
}
.contactUsicon__text{
    font-family: Roboto;
    font-style: normal;
    font-size: 1.3rem;
    line-height: 26px;
    margin: 1% 6%;
    color: #FFFFFF;
}
@media screen and (max-width:426px) {
        .contact{
            margin: 2%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .contactUsform__message{
            margin-bottom: 3%;
        }
        .contactUsform__heading{
            font-size: 1.2rem;
            margin-top: 5%;
            height: auto;
        }
        .contactUsform__button{
            height: auto;
            width: 50%;
            margin-bottom: 5%;
        }
        .contactUsform-container{
            width: 100%;
            margin-bottom: 2%;
        }
        .contactUsicon-container{
            width: 100%;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        .contactUsicon__heading{
            text-align: center;
        }
        .contactUsicon{
            width: auto;
            height: 2vh;
        }
        .contactUsiconD{
            width: auto;
            height: 3vh;
        }
        .contactUsicon__text{
            font-size: 0.9rem;
            line-height: 20px;
        }
        .contactUsicon__style{
            width: 60%;
        }
        .contactUsicons__style{
            margin: 1%  0%;
        }
}