.head-div {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 4vh;
}
.head-div__1 {
  font-size: 4.5rem;
  /* font-weight: bolder; */
  font-family: Bebas-Neue;
  color: var(--peach);
}

.head-div__2 {
  font-size: 2.5rem;
  font-family: Nickainley-Normal;
  font-weight: bold;
  margin-left: 40vh;
}

@media screen and (max-width:468px) {
  .head-div {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 24vw;
  }
  .head-div__1 {
    font-size: 3.5rem;
    /* font-weight: bolder; */
    font-family: Bebas-Neue;
    color: var(--peach);
  }
  .head-div__2 {
    font-size: 1.8rem;
    font-family: Nickainley-Normal;
    font-weight: bold;
    margin-left: 30vh;
  }
  
}
@media screen and (max-width:768px) {
  .head-div {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10vh;
  }
  .head-div__1 {
    font-size: 4.5rem;
    /* font-weight: bolder; */
    font-family: Bebas-Neue;
    color: var(--peach);
  }
  
  .head-div__2 {
    font-size: 2.5rem;
    font-family: Nickainley-Normal;
    font-weight: bold;
    margin-left: 25vh;
  }
  
}
