.main{
    justify-content: center;
    align-items: center;
    margin: 0vh 7vh;
}
.photoTest{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 90%;
    padding: 0;
    margin: 2vh 3vh;
}
.main-container{
    justify-content: center;
    object-fit: fill;
    height: fit-content;
    align-items: center;
    padding: 2vh;
    width: 40vh;
    height: 90%;
    border: 5px solid var(--skin);
    border-radius: 10%;
}
.main-container__image{
    width: auto;
    height: 10vh;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 2vh;
    margin-left: 40%;
}
.main-container__name{
    font-size: 1.2rem;
    text-align: center;
    font-weight: 700;
    font-family:  CooperHewitt-Book;
    margin: 2vh;
}
.main-container__text{
    font-size: 1rem;
    text-align: justify;
    font-family:  CooperHewitt-light;
    font-weight: 500;
    margin: 2vh 2vh;
}