.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ScreenShots {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2vh;
  padding: 2vh;
  border: 10px solid var(--skin);
}
.ScreenShots__img {
  width: auto;
  height: 60vh;
  margin: 3vh;
}
