.video-test{
    background-color: var(--peach);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 5vh 30vh;
}
.video-test__video{
    width: 100%;
    height: 40vh;
    margin:2vh 5vh; 
}
.video-test__text{
    font-size: 1.2rem;
    text-align: justify;
    margin-right: 5vh;
}
.rating{
    margin-top: 1vh;
    font-size: 2rem;

}