.containerR {
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}
.register__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  height: 85vh;
  width: 100%;
}
.register__main-image {
  width: 100%;
  position: absolute;
  object-fit: cover;
  overflow: hidden;
  opacity: 0.8;
  height: 100%;
}
.register {
  width: 23%;
  position: absolute;
  left: 75%;
  top: 10%;
  background: var(--white);
  border-radius: 10px;
  margin: 0vh -3vh;
  padding: 0;
  border: solid var(--gray-light) 2px;
}

.register__title {
  color: var(--black);
  font-family: "Roboto";
  font-size: 1.5rem;
  font-weight: 900;
  text-align: center;
  padding: 1vh 0;
}

.register__component {
  width: 80%;
  display: flex;
  flex-direction: row;
  margin: 1vw auto;
  border: solid var(--gray-600) 1px;
  border-radius: 6px;
  font-family: "Roboto";
  padding: 1vh 0;
  font-weight: 700;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: var(--white);
  cursor: pointer;
}

.register__link {
  text-decoration: none;
}

.register__image {
  width: 2vw;
  margin-left: 1vw;
}

.register__logo {
  width: 100%;
}

#facebook {
  background: var(--blue);
  color: var(--white);
}

#google,
#apple {
  color: var(--gray);
}

.register__platform {
  width: 100%;
  font-weight: 700;
  font-size: 1rem;
  display: flex;
  align-self: center;
  justify-content: center;
}

.register__alternative {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  margin: auto;
}

.register__bar {
  width: 42%;
  height: 2px;
  background-color: var(--gray-light);
  align-self: center;
}

.register__or {
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: 700;
  color: var(--gray-600);
}

.register__form {
  display: flex;
  flex-direction: column;
}

.register__email {
  width: 80%;
  margin-left: 5%;
  border: solid var(--gray-light) 1px;
  border-radius: 2px;
  padding: 1vh 0;
  font-family: "Roboto";
}
.register__password {
  width: 80%;
  margin-left: 5%;
  border: solid var(--gray-light) 1px;
  border-radius: 2px;
  padding: 1vh 0;
  font-family: "Roboto";
}
.register__name {
  width: 80%;
  margin-left: 10%;
  border: solid var(--gray-light) 1px;
  border-radius: 2px;
  padding: 1vh 0;
  font-family: "Roboto";
}
.register__nameL {
  width: 80%;
  margin-left: 1%;
  border: solid var(--gray-light) 1px;
  border-radius: 2px;
  padding: 1vh 0;
  font-family: "Roboto";
}
.register__flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.register__row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.register__label {
  font-size: 1rem;
  font-family: Roboto;
  font-weight: 500;
  margin: 1vh 2vh;
}
.register__submit {
  width: 80%;
  background-color: var(--red);
  border: solid var(--red) 2px;
  border-radius: 6px;
  padding: 1vh 0;
  margin: 1vh 10%;
  color: var(--white);
  font-family: "Roboto";
  font-weight: 700;
  font-size: 1.2rem;
  cursor: pointer;
}

.register__message {
  color: var(--gray);
  text-align: center;
  font-weight: 700;
  font-size: 0.9rem;
  margin: 1vh auto;
  padding: 1vh 0;
  width: 80%;
}

.register__option {
  color: var(--gray);
  text-align: center;
  font-weight: 400;
  font-size: 0.8rem;
  margin: 0;
  font-family: "Roboto";
}

.register__span {
  color: var(--red);
  text-decoration: none;
}

.register__main-component {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.register__main-component_form{
  width: 40%;
}
.register__main-component_heading {
  width: 65%;
  position: absolute;
  left: 10vh;
  top: 10%;
  font-family: Bebas-Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 6rem;
  line-height: 115px;
  align-items: flex-end;
  color: white;
}
.register__main-component_heading span {
  color: #eb6a6a;
  font-family: Bebas-Neue;
}
@media screen and (max-width:1024px) {
  .containerR {
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  .register__image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-x: hidden;
    overflow: hidden;
    height: 85vh;
    width: 100%;
  }
  .register__main-image {
    width: 100%;
    position: absolute;
    object-fit: cover;
    opacity: 0.8;
    height: 100%;
  }
  .register__main-image{
    height: 100vw;
  }
  .register__main-component_heading {
    width: 50%;
    position: absolute;
    left: 5vh;
    top: 10%;
    font-size: 4rem;
    line-height: 80px;
  }
  .register {
    width: 33%;
    height: auto;
    position: absolute;
    top: 0;
    left:0;
    margin-top: 8%;
    margin-left: 60%;
    background: var(--white);
    border-radius: 10px;
    padding: 1% 0%;
    border: solid var(--gray-light) 2px;
  }
  .register__email{
    margin-top: 1%;
    font-size: 1rem;
  }
  .register__name{
    margin-top: 1%;
    font-size: 0.9rem;
    width: 85%;
  }
  .register__password{
    margin-top: 1%;
    font-size: 1rem;
  }
  .register__nameL{
    margin-top: 1%;
    margin-left: 5%;
    font-size: 0.9rem;
    width: 80%;
  }
  .register__label {
    margin-top: 1%;
    font-size: 1.2rem;
    font-family: Roboto;
    font-weight: 500;
    margin: 0.3vh 2vh;
  }
  .register__main-component {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-x: hidden;
  }

  .register__component {
      font-size: 1rem;
    padding: 0.3vh 1vw;
  }

  .register__image {
    width: 3vw;
  }

  /* .register__logo{
        /* padding:1vh 0; 
    } */

  .register__platform {
    text-align: center;
    text-align: center;
    font-size: 1rem;
  }

  .register__message {
    font-size: 0.7rem;
    margin: 1vh 1vh;
  }
  .register__title{
    font-size: 1.5rem;
    margin: 0% 1%;
  }
  
}
@media screen and (max-width:768px) {
  .containerR {
    overflow: hidden;
    overflow-x: hidden;
    margin: 0;
  }
  .register__image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-x: hidden;
    height: 100vh;
    width: 100%;
  }
  .register__main-image {
    width: 100%;
    position: absolute;
    object-fit: cover;
    overflow: hidden;
    opacity: 0.8;
    height: 100%;
  }
  .register__main-component_heading {
    width: 90%;
    position: absolute;
    left: 5vh;
    top: 5%;
    font-size: 4.5rem;
    line-height: 80px;
  }
  .register {
    width: 55%;
    height: auto;
    position: absolute;
    top: 0;
    left:0;
    margin: 30% 20%;
    background: var(--white);
    border-radius: 10px;
    padding: 1.5%;
    border: solid var(--gray-light) 2px;
  }
  .register__email{
    margin-top: 1%;
    font-size: 1rem;
  }
  .register__name{
    margin-top: 1%;
    font-size: 1rem;
    width: 90%;
  }
  .register__password{
    margin-top: 1%;
    font-size: 1rem;
  }
  .register__nameL{
    margin-top: 1%;
    font-size: 1rem;
    width: 90%;
  }
  .register__label {
    margin-top: 1%;
    font-size: 1.3rem;
    font-family: Roboto;
    font-weight: 500;
    margin: 0.3vh 2vh;
  }
  .register__main-component {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .register__component {
      font-size: 1rem;
    padding: 0.3vh 1vw;
  }

  .register__image {
    width: 3vw;
  }

  /* .register__logo{
        /* padding:1vh 0; 
    } */

  .register__platform {
    text-align: center;
    text-align: center;
    font-size: 1rem;
  }

  .register__message {
    font-size: 0.9rem;
    margin: 1vh 4vh;
  }
  .register__title{
    font-size: 1.3rem;
  }
  
}

@media screen and (max-width: 426px) {
    .containerR {
        overflow: hidden;
        overflow-x: hidden;
        margin: 0;
      }
      .register__image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow-x: hidden;
        height: 95vh;
        width: 100%;
      }
      .register__main-image {
        width: 100%;
        position: absolute;
        object-fit: cover;
        overflow: hidden;
        opacity: 0.8;
        height: 100%;
      }
      .register__image{
        width: 100%;
        height: 100%;
        object-fit: fill;
      }
      .register__main-component_heading {
        width: 90%;
        position: absolute;
        margin: 1% 0%;
        font-size: 3rem;
        line-height: 50px;
      }
      .register {
        width: 74%;
        position: absolute;
        margin: 65% 5vh;
        background: var(--white);
        border-radius: 10px;
        padding: 1.5%;
        border: solid var(--gray-light) 2px;
      }
      .register__email{
        margin-top: 1%;
        font-size: 0.6rem;
      }
      .register__name{
        margin-top: 1%;
        font-size: 0.6rem;
        width: 90%;
      }
      .register__password{
        margin-top: 1%;
        font-size: 0.6rem;
      }
      .register__nameL{
        margin-top: 1%;
        font-size: 0.6rem;
        width: 90%;
      }
      .register__label {
        margin-top: 1%;
        font-size: 0.8rem;
        font-family: Roboto;
        font-weight: 500;
        margin: 0.3vh 2vh;
      }
      .register__main-component {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
      }

      .register__component {
          font-size: 1rem;
        padding: 0.3vh 1vw;
      }

      .register__image {
        width: 5vw;
      }

      /* .register__logo{
            /* padding:1vh 0; 
        } */

      .register__platform {
        text-align: center;
        text-align: center;
        font-size: 0.8rem;
      }

      .register__message {
        font-size: 0.9rem;
        margin: 2vh 4vh;
      }
      .register__title{
        font-size: 1.3rem;
      }
}
@media screen and (max-width:320px) {
  .containerR {
    overflow: hidden;
    overflow-x: hidden;
    margin: 0;
  }
  .register__image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-x: hidden;
    height: 95vh;
    width: 100%;
  }
  .register__main-image {
    width: 100%;
    position: absolute;
    object-fit: cover;
    overflow: hidden;
    opacity: 0.8;
    height: 100%;
  }
  .register__main-component_heading {
    width: 90%;
    position: absolute;
    margin: 1% 0%;
    font-size: 2.5rem;
    line-height: 50px;
  }
  .register {
    width: 74%;
    position: absolute;
    margin: 70% 4vh;
    background: var(--white);
    border-radius: 10px;
    padding: 1.5%;
    border: solid var(--gray-light) 2px;
  }
  .register__image {
    width: 5vw;
  }
  
}