.progress{
    display: flex;
    flex-direction: column;
    padding: 8%;
    width: 100%;
    background: #FFFFFF;
    border-radius: 20px;
}
.progress__heading{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 56px;
    margin-bottom: 13%;
    color: #6D6875;
}
.progress__coursename{
    font-family: Bebas-Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 58px;
    margin: 0% ;
    color: #000000;
}
.progress__text1{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    margin: 0% ;
    margin-bottom: 6%;
    color: #000000;
}
.progress__button{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 42px;
    align-items: center;
    border: none;
    padding: 1%;
    text-align: center;
    color: #FFFFFF;
    background: var(--red);
    border-radius: 10px;
    width: 50%;
    align-self: center;
    margin-top: 18%;
    margin-bottom: 8%;
}
.progress__text2{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 6%;
    color: #6D6875;
}
.progress__certificate{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 42px;
    text-align: center;
    align-items: center;
    padding: 1%;
    color: #C4C4C4;
    background: #E5E5E5;
    border-radius: 10px;
    border: none;
    width: 70%;
    align-self: center;
}
.range{
    height: 80px;
    width: 100%;
    background: #FFf;
    border-radius: 10px;
    padding: 0 65px 0 45px;
}
.range .sliderValue{
    text-align: center;
    position: relative;
    width: 100%;
}
.range .sliderValue span{
    position: relative;
    height: 45px;
    width: 45px;
    background: var(--red);
    color: #FFf;
    font-weight: 500;
    top: 30px;
    transform: translateX(-50%) scale(0);
    transform-origin: bottom;
    transition: transform 0.3s ease-in-out;
    line-height: 55px;
    z-index: 2;
}
/* .range .sliderValue span.show{
    transform: translateX(-50%) scale(1);
} */
.range .sliderValue span:after{
    content: "";
    position: absolute;
    height: 45px;
    width: 45px;
    background: var(--red);
    transform: translateX(-50%) rotate(45deg);
    border: 3px solid #fff;
    left: 50%;
    z-index: -1;
    border-radius: 50%;
}
.range .field{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.range .field .value{
    position: absolute;
    font-size: 18px;
    font-weight: 600;
    color: var(--red);
}
.range .field .value.left{
    left: -43px;
}
.range .field .value.right{
    right: -43px;
}
.range .field input{
    -webkit-appearance: none;
    height: 3px;
    width: 100%;
    background: #ddd;
    border-radius:5px;
    outline: none;
    border: none;
}
.range .field input::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    margin-top: -7px;
    background: var(--red);
    border-radius: 50%;
    border: 1px solid #fff;
    cursor: pointer;
}
.range .field input::-webkit-slider-runnable-track{
    height: 0.3rem;
    border-radius: 10px;
    background: var(--red);
}