.Container {
  width: 20%;
  height: 20%;
  /* border: 2px solid red; */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2vh;
}
.Container_img {
  width: 100%;
  height: 80%;
}
.Container_name{
  font-family: CooperHewitt-Light;
}
