@media screen and (max-width:426px){
    
    .disclaimer{
        padding: 1vh 6vw;
        text-align: justify;
        font-size: 1rem;
        text-align: justify;
    }
    
    .documentation{
        display: flex;
        justify-items:center;
        text-align: center;
        flex-direction: row;
        margin: 0;
        justify-content: center;
    }
    
    .documentation__option{
        text-align: center;
    }
    
    .documentation__link{
        text-decoration: none;
        color: black;
    }
    
    .copyright{
        text-align:center;
    }
}