:root{
    --red: #EB6A6A;
    --gray: #6D6875;
    --grey: #E5E5E5;
    --gray-light: #E5E5E5;
    --white: #FFFFFF;
    --black: #000000;
    --light-red: #f8e4e4;
    --blue: #4267B2;
    --gray-600: #C4C4C4;
}

*{
    font-family: "Roboto";
}

@font-face{
    font-family: Bebas-Neue;
    src: url("../font/BebasNeue-Regular.ttf");
}

@font-face {
    font-family: Roboto;
    src: url('../font/Roboto-Regular.ttf');
}