.Freebies{
    height: auto;
    background-image: url(../../../image/gift-g9d21de189_1920.jpg);    
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 5rem;
}
.Freebies__title{
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 18vh;
    line-height: 20vh;
    display: flex;
    align-items: center;
    text-align: center;
    background: linear-gradient(180deg, #5668CE 0%, #374384 82.29%, #000000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}
.Freebies__details >p{
    width: 100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 1.5rem;
    display: inline-block;
    align-items: center;
    color: #000000;
}
.Freebies__get{
    background-color: #5668CE;
    color: white;
    height: 4rem;
    margin-top: 3rem;
    font-size: 2rem;
    font-family: Roboto;
    
    margin-left: 30%;
    border-radius: 2rem;
    padding: 0rem 1.5rem;
    margin-bottom: 3rem;
}
@media screen and (max-device-width:768px){
    .Freebies{
        padding-left: 2rem;
        background-size: cover;
    }
    .Freebies__title{
        font-size: 9vh;
        line-height: 11vh;
    }
    .Freebies__details >p{
        font-size: 2.2vh;
        line-height: 2.4vh;
    }
    .Freebies__get{
        height: 2.5rem;
        margin-top: 2rem;
        font-size: 1.25rem;
        margin-left: 30%;
        margin-bottom: 2rem;
    }

}

@media screen and (max-device-width: 630px){
    .Freebies{
        padding-left: 1rem;
        padding-right: 1rem;
        background-size: cover;
    }
    .Freebies__title{
        font-size: 7vh;
        line-height: 10vh;
    }
    .Freebies__details >p{
        font-size: 1.8vh;
        line-height: 2vh;
        margin: 0.8vh;
    }
    .Freebies__get{
        height: 1.5rem;
        margin-top: 1rem;
        font-size: 0.8rem;
        margin-left: 30%;
        margin-bottom: 1rem;
    }   
}