.video-test {
  background-color: var(--light-red);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 0;
  width: 80%;
  margin: 5vh;
}
.video_header {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
}
.video-test__video {
  width: 100%;
  height: 40vh;
  margin: 2vh 5vh;
}
.video-test__text {
  font-size: 1.2rem;
  text-align: justify;
  margin-right: 5vh;
}
.rating {
  margin-top: 1vh;
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .video-test {
    background-color: var(--peach);
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 2vh;
  }
  .video-test__video {
    width: 100%;
    height: 40vh;
    margin: 2vh;
    transform: scale(0.9);
  }
  .video-test__text {
    font-size: 1.2rem;
    text-align: justify;
    margin-right: 1vh;
  }
  .rating {
    margin-top: 1vh;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 468px) {
  .video-test {
    background-color: var(--peach);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 2vh;
    margin: 2vh 2vh;
    width: 100%;
  }
  .video_header {
    font-size: 25px;
  }
  .video-test__video {
    width: 10%;
    height: 20vh;
    transform: scale(0.55);
  }
  .video-test__text {
    font-size: 1.2rem;
    text-align: justify;
    margin-right: 5vh;
  }
  .rating {
    margin-top: 1vh;
    font-size: 2rem;
  }
}
